html {
  cursor: url('0/img/leaf.png'), auto;
}

body {
  color: #006400;
  margin: 1em 2em;
}

img.favicon {
  border: unset !important;
  padding: unset !important;
  display: inline;
  width: 1.6ch;
  height: 1.6ch;
}

test
a>img {
  border: blue 3px dashed;
  padding: 1px;
}

a:visited>img {
  border: purple 3px;
}

code {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 2px 4px;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.comma-seperated>* {
  display: inline-block;
}

.comma-seperated>*:not(:last-child)::after {
  content: ", ";
}

.iframe .noiframe {
  display: none;
}

.iframe h2 {
  font-size: large;
}

blockquote {
  border-left: 2px dotted #006400;
  padding-left: 1em;
  margin-left: 0;
}